html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

img,
svg {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}
